<script>
  $( document ).ready(function() {  
  
    $('#createSimulation').on('hidden.bs.modal', function () {
      $('#simName').parent('div').removeClass('has-error');
      $('#simname_err').hide();
      $('#simName').val("");
    });
    
    $('#simName').focus(function () {
      if ($('#simName').parent('div').hasClass('has-error')) {
        $('#simName').parent('div').removeClass('has-error');
        $('#simname_err').hide();
      }
    });
  
    $("#save").click(function() {
      var sim_name = $('#simName').val();
      var workflow_id = $('#workflow').find(":selected").val();
      if (sim_name == "" || sim_name == null)
      {
        $('#simName').parent('div').addClass('has-error');
        $('#simname_err').show();
      }
      else
      {
        $.ajax({
          beforeSend: function(req) {
            req.setRequestHeader("Accept", "application/json");
          },
          url: "simulation", 
          type: "POST",
          data: {mockdata : { "name" : sim_name, "workflow_id" : workflow_id}},
          success: function(sim_id) {
            /*console.log("Simulation " + sim_id + " successfully created.");*/
            location.reload();
          }
        });
      }
    });
    
    $(".edit").click(function() {

      var sim_id= $(this).parent('td').parent('tr').find('.sim_id').data('id');
      
      $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: "simulation/" + sim_id, 
        type: "DELETE",
        success: function(sim_id) {
          location.reload();
        }
      });
    });
    
    $(".delete").click(function() {
      var sim_id= $(this).parent('td').parent('tr').find('.sim_id').data('id');
      
      $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: "simulation/" + sim_id, 
        type: "DELETE",
        success: function(sim_id) {
          /*console.log("Simulation " + sim_id + " successfully deleted.");*/
          location.reload();
        }
      });
    });
  });
</script>

<h1>My Simulations</h1>

<hr>

<% if(@workflows.count == 0) %>
  <div class="alert alert-warning"><b>You must create a workflow before you can create any simulations!</b></div>
  <button type="button" class="btn btn-info disabled" id="create" data-toggle="modal" data-target="#createSimulation" style="float:right; margin-bottom:5px;">
    Create Simulation
  </button>
<% else %>
  <button type="button" class="btn btn-info" id="create" data-toggle="modal" data-target="#createSimulation" style="float:right; margin-bottom:5px;">
    Create Simulation
  </button>
<% end %>
  
<table class="table table-striped table-hover" style="border:2px solid grey">
  <thead>
      <tr style="background-color:#ddd">
      <th class="col-md-1">ID</th>
      <th class="col-md-4">Name</th>
      <th class="col-md-4">Workflow ID</th>
      <th class="col-md-3"></th>
      </tr>
  </thead>
  <tbody>
    <% if(@mockdata.count == 0) %>
      <tr>
      <td colspan="4">You have no simulations</td>
      </tr>
    <% else %>
      <% @mockdata.each do |data| %>
          <tr>
          <td class="sim_id" data-id=<%= data.id %>><%= data.id %></td>
          <td><%= data.name %></td>
          <td><%= data.workflow_id %></td>
          <td style="text-align:center">
            <a href="<%= edit_simulation_path(data.id) %>">Edit</a>
            <a class="delete" style="cursor:pointer; margin-left:5px;">Delete</a>
          </td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="createSimulation" role="dialog" aria-labelledby="createSimulationModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createSimulationModalLabel">Create Simulation</h4>
            </div>

            <div class="modal-body">
                <div class="form-container" style="width: 80%; margin: 0 auto;">
                    <div class="form-group">
                        <div class="formLabel">
                            <label for="simName">Name</label>
                        </div>
                        <div class="formField">
                            <input id="simName" name="simName" type="text" class="form-control" />
                        </div>
            <p id="simname_err" class="validation_msg" style="display:none; color:red;">Name is a mandatory field.</p>
                    </div>
                    <div class="form-group">
                        <div class="formLabel">
                            <label for="workflow">Workflow</label>
                        </div>
                        <div class="formField">
              <select id="workflow" name="workflow" class="form-control">
                <% @workflows.each do |data| %>
                  <option value=<%= data.id %>><%= data.id %> (<%= data.name %>)</option>
                <% end %>
              </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>