
<%= f.text_field :user_id, :autofocus => true, :hidden => true %>

<div><%= f.label :first_name %><br />
<%= f.text_field :first_name, :autofocus => true %></div>

<div><%= f.label :last_name %><br />
<%= f.text_field :last_name, :autofocus => true %></div>

<div><%= f.label :email %><br />
<%= f.email_field :email, :autofocus => true %></div>
