<h1>My Workflows</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Owner</th>
      <th>Created On</th>
      <th></th>
      <th></th>
    <tr>
  </thead>
  <tbody>
    <% if(@workflows.count == 0) %>
      <tr>
        <td colspan="3">You have no workflows</td>
      </tr>
    <% else %>
      <% @workflows.each do |w| %>
        <tr>
          <td><%= w[:workflow].id %></td>
          <td><%= w[:workflow].name %></td>
          <td><%= w[:user] %></td>
          <td><%= w[:workflow].created_at %></td>
          <td><a href="<%= workflow_path(w[:workflow].id) %>">View</a></td>
          <td>
            <%= link_to 'Delete', w[:workflow], :method => :delete, :confirm => "Are you sure you want to delete #{w[:workflow].name}?" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>